[data-toggle="collapse"] {
    color: var(--primarycolor);
    cursor: pointer;
}

[data-toggle="collapse"]:hover {
    text-decoration: underline;
    color: var(--secondarycolor) !important;
}

.item {
    padding: 0.5rem;
    padding-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: 0.25rem;

    border-color: var(--secondarycolor);
}

.item:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: default;
}

#js-map-canvas {
    min-height: 400px;
}



.hospital {
    padding: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: 0.25rem;




    border-color: var(--secondarycolor);
}

.hospital:hover{

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: default;


}

.map-canvas {
    height: 100%;
}
